# Working title

#### STAT 201 Group Project Proposal ####
##### Group 17 - *Janice Chan, Ena Gupta, Gael Hernandez Palmer*

### Introduction

...

### Preliminary Results

In [35]:
# Load packages
library(digest)
library(infer)
library(repr)
library(tidyverse)
library(dplyr)

In [53]:
# set seed for reproducibility
set.seed(1234)

# HEART DISEASE DATA (Compiled)
# load data

heart_disease_data <- read_csv("https://raw.githubusercontent.com/Gaelhpalmer/STAT201Project/main/heart.csv")
heart_disease_data <- as_tibble(heart_disease_data) %>%
    rename(heart_disease = target, 
           cp_type = cp, 
           rest_ecg = restecg, 
           max_hr = thalach, 
           ex_ang = exang, 
           old_peak = oldpeak)

head(heart_disease_data)

Rows: 1025 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
dbl (14): age, sex, cp, trestbps, chol, fbs, restecg, thalach, exang, oldpea...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  age sex cp_type trestbps chol fbs rest_ecg max_hr ex_ang old_peak slope ca
1 52  1   0       125      212  0   1        168    0      1.0      2     2
2 53  1   0       140      203  1   0        155    1      3.1      0     0
3 70  1   0       145      174  0   1        125    1      2.6      0     0
4 61  1   0       148      203  0   1        161    0      0.0      2     1
5 62  0   0       138      294  1   1        106    0      1.9      1     3
6 58  0   0       100      248  0   0        122    0      1.0      1     0
  thal heart_disease
1 3    0
2 3    0
3 3    0
4 3    0
5 2    0
6 2    1

In [ ]:
# summarize data (estimates)

In [ ]:
# plot raw data

### Methods

...

### References

...