# Working title

#### STAT 201 Group Project Proposal ####
##### Group 17 - *Janice Chan, Ena Gupta, Gael Hernandez Palmer*

### Introduction

...

### Preliminary Results

In [4]:
# Load packages
library(digest)
library(infer)
library(repr)
library(tidyverse)
library(dplyr)

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.6     ✔ dplyr   1.0.8
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [5]:
# set seed for reproducibility
set.seed(1234)

# HEART DISEASE DATA (Cleveland)
# load data
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/processed.cleveland.data"
data = download.file(url, destfile = "data.data")
heart_disease_data = read.table("data.data", header = FALSE, sep = ",")
colnames(heart_disease_data) = c("age", "sex", "cp", "trestbps", "chol", "fbs", "restecg", "thalach", "exang", "oldpeak", "slope", "ca", "thal", "heart_disease")
# sex: 0 is female, 1 is male
# heart_disease: 0 is absent, 1 is present (diagnosis)
heart_disease_data = heart_disease_data %>%
    select(sex, chol, heart_disease)
head(heart_disease_data)

  sex chol heart_disease
1 1   233  0
2 1   286  2
3 1   229  1
4 1   250  0
5 0   204  0
6 1   236  0

In [ ]:
# summarize data (estimates)

In [ ]:
# plot raw data

### Methods

...

### References

...